
.forgotPwdWrap {
	float: left;
	width: 50%;
	background: #e9e9e9;
	padding: 2%;
	margin: 10% 0 10% 25%;
}
.forgotPwdWrap p{
	float:left;
	width:100%;
}
.forgotPwdWrap .input {
	float: left;
	width: 100%;
	background: #fff;
	border: none;
	padding: 2%;
	color: #4f4f4f;
	margin-bottom: 20px;
	border:#fff solid 1px;
}
.forgotPwdWrap .txtArea {
	float: left;
	width: 100%;
	height:80px;
	background: #fff;
	border: none;
	padding: 2%;
	color: #4f4f4f;
	margin-bottom: 20px;
	border:#fff solid 1px;
	resize:none;
}
.signUpWrap {
	float: left;
	width: 100%;
	background: #e9e9e9;
	padding: 2% 0;
	margin: 2% 0 0 0;
}
.signUpWrap p{
	float:left;
	width:100%;
	margin:0px 0 5px 0;
}
.signUpWrap .col{
	float:left;
	width:48%;
	margin-right:2%;
}
.signUpWrap .input {
	float: left;
	width: 100%;
	background: #fff;
	border: none;
	padding: 2%;
	color: #4c4c4c;
	margin-bottom: 10px;
	border:#dcdcdc solid 1px;
}
.signUpWrap .txtArea {
	float: left;
	width: 100%;
	height:80px;
	background: #fff;
	border: none;
	padding: 2%;
	color: #4c4c4c;
	margin-bottom: 10px;
	border:#dcdcdc solid 1px;
	resize:none;
}
@media only screen and (max-width: 767px) {
.forgotPwdWrap {
	margin-left: 2%;
	width: 96%;
}
.signUpWrap {
	margin-left: 2%;
	width: 96%;
}
.signUpWrap .col{
	width:100%;
	margin:0;
}
}